@import "../extends/media.styl"

.fix-toolbar
  // @extend @media({$mdAndUp})
  //   transform: translateY(-10px) !important
  .fix-tabs-layout-public
    .v-item-group
      .v-slide-group__prev
        display: none !important