@import "../../extends/media.styl"

.fix-container-me
  @extends @media({$mdAndUp})
    max-width: 100%
    padding-bottom: 30px
  .fix-container-header
    background: linear-gradient(45deg, #ff2c00, #9f6d6d)
    @extends @media({$mdAndUp})
      .fix-image-header
        width: 300px
        height: 300px
    @extends @media({$smAndDown})
      display: flex
      flex-direction: column-reverse
      align-items: center
      justify-items: center
    .fix-card-list-data-company
      border: 2px solid #fff