@require "../../extends/media.styl"

// @extend @media ({$mdAndUp}) comentário para lembrar como usar o media agora.

.container__esqueceu
  position: relative

  a
    text-decoration: none
    color: gray
    font-size: 15px
    position: absolute
    top: -29px
    right: 0
    transition: 0.8s ease-in

    &:hover 
      color: rgb(36, 82, 219)1